/* File: assets/pagination.css */
.ajax-pagination.product-pagi {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.ajax-pagination.product-pagi .product-pagi__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.product-pagi__prev,
.product-pagi__next,
.product-pagi__page {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  line-height: 1.2;
  padding: 0 12px;
  height: 35px;
}
.product-pagi__page.active {
  color: white;
}
.product-pagi__prev.disabled,
.product-pagi__next.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.load-pagimore {
  display: flex;
  align-items: center;
  line-height: 1.2;
  padding: 0 12px;
  height: 35px;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.loading-more {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  text-align: center;
  color: #333333;
  font-size: 16px;
  margin-top: 10px;
}
.loading-more.loading {
  opacity: 1;
}
.product-pagi__next,
.product-pagi__prev {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}
.product-pagi__next.disabled,
.product-pagi__prev.disabled {
  opacity: 0.3;
}
@media only screen and (min-width: 768px) {
  .ajax-pagination.product-pagi {
    flex-direction: row;
  }
  .load-pagimore {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .ajax-pagination.product-pagi {
    flex-direction: column;
  }
  .load-pagimore {
    margin-top: 10px;
  }
}

/* Loading   */

.pagimore-grid {
  position: relative;
}

/* Overlay dims the posts */
.pagimore-grid .overlay-loader {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(255, 255, 255, 0.35); /* semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

/* Show overlay on load */
.pagimore-grid.load .overlay-loader {
  opacity: 1;
}

/* Keep preloader fully visible on top of everything */
.pagimore-grid .page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* higher than overlay */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  text-align: center;
  color: #333333;
  font-size: 16px;
}

/* Show the preloader when loading */
.pagimore-grid .page-loading.loading {
  opacity: 1;
}
